<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ partial "head.html" }}
  {{ partial "link.html" }}
</head>
<body class="">
  <!-- nav -->
  {{ partial "header.html" }}
  {{ partial "nav.html" }}
  <!-- page -->
  {{ partial "pages/home.html" }}
  <!-- {{ partial "pages/about.html" . }} -->
  <!-- {{ partial "pages/contact.html" . }} -->
  <!-- {{ partial "pages/menu.html" . }} -->
  <!-- {{ partial "pages/album.html" . }} -->
  <!-- footer -->
  {{ partial "footer.html" }}
  <!-- waves -->
  {{ partial "waves.html" . }}

</body>
</html>
